<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="unit">
			<directory prefix="test-" suffix=".php">./tests/unit/</directory>
		</testsuite>
		<testsuite name="integration">
			<directory prefix="test-" suffix=".php">./tests/integration/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./</directory>
			<exclude>
				<directory suffix=".php">./tests/</directory>
				<directory suffix=".php">./woocommerce-example/</directory>
				<directory suffix=".php">./vendor/</directory>
			</exclude>
		</whitelist>
	</filter>
	<php>
		<const name="WP_TESTS_FORCE_KNOWN_BUGS" value="true"/>
		<const name="WP_TESTS_PHPUNIT_POLYFILLS_PATH" value="vendor/yoast/phpunit-polyfills"/>
	</php>
	<logging>
		<log type="coverage-html" target="./tests/coverage" lowUpperBound="35" highLowerBound="70"/>
		<log type="coverage-clover" target="./tests/coverage/clover.xml"/>
	</logging>
</phpunit>

